

body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
  }

li {
    list-style: none;
}

  .header {
    background-color:#333333;
    height:100px;
    font-family: verdana;
    color:white
  }

  h1:hover {
    color:black;
    transition:0.2s

  }

  .header-list li {
    float: right;
    padding: 33px 40px;
    margin-right:20px;
  }

  .header-logo {
    float: left;
    padding: 30px 40px;
    font-size: 30px;
  }
  
  .header-list li {
    float: right;
    padding: 40px 20px;
    font-family: verdana;
}

  .main {
    padding: 120px 80px;
    background-color:rgb(184, 0, 0);
    color:white;
    font-family: verdana;
  }

  .copy-container h1 {
    font-size: 100px;
    line-height: 5px;
  }
  
  .contents {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 450px;
  }

  .section-title {
    font-size: 50px;
    text-align:center;
    font-family: verdana;
  }
  .contents-item {
    float:left;
    width: 33%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  .contents-item p {
    font-size: 20px;
    position:relative;
    text-align: center;
    font-family: verdana;
  }

  .items {
    height: 100%;
    padding-bottom: 300px;
    align-items:center
  }

  .items-title {
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .items-item {
    float:left;
    width: 25%;
    transition:0.2s
  }

  .items-item:hover {
    transform:scale(1.2)
  }

  .items-item p {
    font-size: 20px;
    position:relative;
    text-align: center;
    font-family: verdana;
  }

  .footer {
    background-color: #333333;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
    font-family: verdana;
  }
  
  .footer-list {
    float: right;
    font-family: verdana;
  }
  
  .footer-list li {
    padding-bottom: 20px;
    font-family: verdana;
  }
  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding:20px;
    font-size: 18px;
    border: 1px solid;
    color:#dee7ec;
    font-family: verdana;
  }

  .footer-link {
  color:#dee7ec;
  text-decoration:none;
  }
  a:hover{
color:red;
transition:0.2s
}
  }
hr:solid {
  border-top: 5px solid #bbb;
}
